<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>1000+ Examples for Employee Engagement</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Examples Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-3">Examples to inspire you</h2>
                    <p class="lead">See all our examples in one page, and get inspired. This list is growing continuously and is updated on a weekly basis. Feel free to quote these examples anywhere, and feel empowered to implement them in your organizations.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Examples Section -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-row align-items-top g-5 py-5">
                <% examples.forEach(function(item){ %>
                <div class="col-lg-6 col-mb-12 col-sm-12 pl-4 example">
                    <div class="col-11 px-3 py-3 example-holder border border-warning">
                        <p class="fw-bold lead mb-1"><%= item.org %></p>
                        <p class="fst-italic mb-1"><span class="fw-bold">Trend: </span><%= item.trend %></p>
                        <p class="fst-italic mb-1"><span class="fw-bold">Area: </span><%= item.subTrend %></p>
                        <p class="mb-1"><%= item.example %></p>
                        <a target="_blank" href=<%= item.url %>>Read more</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>


    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
    <script>
//        $('.example').paginate(2);
    </script>


</body>

</html>
