<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>Assess your workplace with our comprehensive and customized surveys</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Surveys Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-row align-items-center g-5 py-4">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-12 display-6 fw-bold lh-1 mb-3">World's Most Comprehensive, <br>World's First Ever Customized, <br>Talent Surveys <br> </h2>
                    <p class="lead fw-bold">Measure the aspirations and engagement of your employees across the talent value chain - for an organization, or for a team</p>
                    <p class="lead">Are you a CEO, a function head, or lead a team? Do you want to understand the needs and aspirations of your talent? Think different from the usual employee surveys. Use our unique 4-dimensional approach backed by our very own TIKs approach (contact us to know more ). Learn not just the what, but also the why, when, and how about your talent's engagement. Each survey will tell you where you stand, and the best practices followed across organizations across several areas.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#categories"><button type="button" class="btn btn-primary  px-4 me-md-2">Select your survey</button></a>
                        <a href="#different"><button type="button" class="btn btn-outline-secondary  px-4">See our difference</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Survey Categories -->
    <div class="container py-3" id="categories">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">Our Surveys</h2>
                    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
                </div>
            </header>

            <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Comprehensive Survey</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Our most comprehensive survey conducted your entire talent</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>For all employees</li>
                                    <li>Covers all aspects</li>
                                    <li>Timeline: 2 Weeks</li>
                                    <li>1 Free Survey</li>
                                    <li>Frequency - 2 to 4 / year</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Focused Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Focused surveys across each areas of talent value chain</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>20+ Areas</li>
                                    <li>Focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>1 Free Survey</li>
                                    <li>Frequency - 1 to 2 / year</li>
                                </ul>
                                <a href="#survey-details"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Aspiration Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Surveys focused on aspirations, management, and leadership</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>~5 Surveys</li>
                                    <li>Focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>1 Free Survey</li>
                                    <li>Frequency - 1 to 2 / year</li>
                                </ul>
                                <a href="#aspiration"><button type="button" class="w-100 btn  btn-primary">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>

    <!--Survey Differentiation -->
    <div style="border:1px solid #DDDDDD; background-color:#DDD" id="different">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-lg-8">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">What makes our survey different</h2>
                    <p class="lead fw-bold">Have you seen a survey that is customized to your needs? Ours is. See for yourself.</p>
                    <p class="lead">We understand that every organization is different in terms of their aspirations, and its culture. This has led us to develop the world's first curated and customized yet comprehensive talent survey, which also drills down to every single practice area in the talent value chain - from onboarding and offboarding. We are sure that no other survey does that.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#comprehensive"><button type="button" class="btn btn-primary  px-4 me-md-2">Comprehensive Surveys</button></a>
                        <a href="#survey-details"><button type="button" class="btn btn-secondary  px-4 me-md-2">Highly Focused Surveys</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Comprehensive Survey Section -->
    <div style="border:1px solid #DDDDDD" id="comprehensive">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/survey.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">The most comprehensive talent engagement survey</h2>
                    <p class="lead fw-bold">Measure everything about how your talent is engaged, and you meet their needs and aspirations through the world's most comprehensive survey</p>
                    <p class="lead">We have built the world's most comprehensive survey focusing on the 12 themes we have identified which we believe are essential to the talent of today. Take the survey, and leverage our comprehensive 4-pronged survey methodology coupled with our very own unique TIKs approach to understand more about how your talent perceives your talent engagement approach.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveyForm"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested...</button></a>
                        <a href="#survey-details"><button type="button" class="btn btn-secondary  px-4 me-md-2">Focused surveys</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Focused Surveys -->
    <div class="example-coontainer" id="survey-details">
        <div class="container col-xxl-8 px-4 py-3" id="content">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-12 col-sm-10 ">
                    <h2 class="col-lg-12 lh-1 mb-3 fw-bold lh-1">Our Focused Surveys</h2>
                    <p class="lead">Through our focused surveys, we also assess a host of other areas across the talent lifecyle - from hiring to onboarding to off-boarding. Understand how strong are you in each area through a focused set of surveys or through a customized survey built to cater to your unique needs.</p>
                    <div class="row">
                        <% areaDetails.forEach(function(area) { %>
                        <div class="area-holder col-lg-4 col-sm-12">
                            <div class="area-holder-sub px-2 py-2 my-2 align-content-between flex-wrap d-flex" style="border:1px solid #BBB; min-height:240px">
                                <h4 class="col-lg-9  mb-2"><%= area["MainArea"] %></h4>
                                <p class="col-lg-12 lh-2 mb-3"><%= area["One Liner"] %></p>
                                <% const link = "/details/" + area["Area"]; %>
                                <a target="_blank" href=<%= link %>><button type="button" class="btn btn-primary">Learn More</button></a>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Aspiration Surveys -->
    <div style="border:1px solid #DDDDDD" id="aspiration">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/aspiration.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">Aspiration Surveys - For Teams and Organizations</h2>
                    <p class="lead fw-bold">Be it a small team or a large organization; understand what your employees aspire for, and what they feel about your culture, management and leadership practices</p>
                    <p class="lead">Are you the CEO of a large organization, or the lead of a small team? Take our surveys to understand what your employees or teams aspire for, their views on the culture in your organization, the experience that you provide, the management style that your managers follow, and the leadership practices followed by your leadership team. The survey is backed up by our 4-dimensionsal approach that will consider multiple perspectives and views.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveys"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Surveys Detail -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-2" id="content">
            <div class="row flex-row align-items-center g-5 py-3">
                <div class="col-lg-8 col-sm-10 ">

                    <h3 class="col-lg-9 lh-1 mb-3">What makes our survey unique?</h3>
                    <p class="col-lg-12 lh-3 lead mb-3">We do not just show you the what - but also the why, when, and how things are the way they are. Our surveys are unique and span across all areas of the talent cycle. But, they are unique because of another reason. We employ a unique 4-dimensional approach backed by our own unique TIKs (our secret ingredient, reach out to us to learn more). We not only collect responses from a wide variety of audience for a variety of questions, we also get inputs from the managers and the leadership, and juxtapose it with the in-depth analysis we do for each organization. So, there is no more biased results - it is a combination of the inputs from all the relevant stakeholders that matter. Of course, all of this will be provided in our unique framework we have build based on our research.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">What all surveys do you adminisiter?</h3>
                    <p class="col-lg-12 lh-3 lead mb-3">We offer three options - small, focused surveys for specific areas which are ready-made; custom-made surveys that suit your own needs; or the world's most comprehensive talent engagement survey.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Who all is the survey for?</h3>
                    <p class="col-lg-12 lh-3 lead mb-3">The survey is for a lot of people. If you are the CEO of a large organization or a small organization, or even if you the team lead for a small team, and if you really want to understand your team and your talent better, take one of our surveys that is built for your needs.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Is the survey anonymous?</h3>
                    <p class="col-lg-12 lh-3 lead mb-3">Yes. We are serious about letting people provide sincere feedback, and we believe that anonymous surveys is currently the best way for that. We do track responses, so that we can nudge more people to respond, but we use an anonymity shield to prevent the organizations from seeing individual resposnes. Even with multiple cuts, and slices in the way we will present the .</p>

                    <h3 class="col-lg-9 lh-1 mb-3">How do you conduct the survey?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">Once you select the area you want to focus upon by filling the form here, we will reach out to you to understand your basic requirements and curate the survey as per your needs. If you want one of our ready-made services, or you want to leverage the world's largest talent survey, we can shortwire this discussion. After we agree on the same, we will share the survey with a custom link to the set of people identified by you. It will be an individual mail. The responses will be anonymous to drive open feedback. We would ideally want the survey to be run for a period of two weeks, but you can reduce it to a minimum of one week. Once the survey is complete, we will take one or two weeks to process the results and we will share the same with you as a detailed analysis.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Who will be the audience?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">The audience will be the ones that will depend based on the survey that you decide. It can be a mix of the employees, the HR team, the managers, the leaders, and a select set of other audience. Each person will get a link. While the surveys will be anonymous, it will collect an unique ID - such as employee ID, name, email ID etc. This will help us track the responses, and also give a nudge to the people to respond. This information will not be shared to the organizations as we believe that an anonymous survey will create more accurate results.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Why is the survey free?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">It is normal for the alarm bells to ring when you hear that the assessments are free. We also understand that. But hey, remember, we are a start-up. And we believe that the fees that we are foregoing is part of our marketing budget. Rest assured, our assessments will be worth your investment in time and effort.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Is everything free?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">No, the first survey is free. We are building our pricing plans, and we will share with you the details over a call. Hey, we are an aspiring business, and we need money to grow.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">How long will be the surveys?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">We recommend the surveys are administered for a period of two weeks. Anything that is shorter, and we are afraid that we will lose out on getting responses from people who may be away, or may be busy. Anything longer, and we are sure that will not get more responses that will substantiate the increase in time. Oh, by the way, each survey may take anything from 5 minutes to 45 minutes - based on the survey that you choose.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">What will I get from the assessment?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">You will get a customized report that will detail out your strong areas and weak areas based on the response. We would also share some best practices which we believe can improve the scores going forward. We will stop there as we do not offer any consulting approach. Once we get the suffiient volume, we will add benchmarks.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Is our data safe?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">Your data is completely safe and we will not mention your information to anyone - either in the public domain or in any private conversation. You can trust us on that.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Who are your existing clients?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">Like we said, we are a startup, and we are building on increasing our clientele. We want to tell you some names that will blow your mind away, but hey, let us wait for a whole.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">Why are you using Google Forms?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">We are starting out and we are figuring out the best survey platforms out there. And in the long run, we want to build our own survey platform. In the meanwhile, we want to keep our costs in control and hence we want to leverage the ease, power, and flexibility of Google - which is not just scalable, but also secure and trust-worthy. And there is also the small feature about cost - The Basic plan of SurveyMonkey with limited features and with an upper limit of only 1,000 responses per month costs nearly INR 8000 - we would rather spend that money on building content and adding more examples.</p>

                    <h3 class="col-lg-9 lh-1 mb-3">How can I start the survey?</h3>
                    <p class="col-lg-12 lh-3 lead mb-2">Just fill out this form or you can mail us at <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a> for more details.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
